<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header>
      <section>
        <div class="header">
          <div class="header-tittle">
            <div class="tittle">
              Port<span class="tittle-green-color">fólio</span>
            </div>
            <ul class="header-list">
              <li><a href="" class="tittle-list">Início</a></li>
              <li><a href="" class="tittle-list">Sobre</a></li>
              <li><a href="" class="tittle-list">Serviços</a></li>
              <li><a href="" class="tittle-list">Especialidades</a></li>
              <li><a href="" class="tittle-list">Contato</a></li>
            </ul>
          </div>
        </div>
      </section>
    </header>
    <main class="aa"></main>
    <footer></footer>
    <script src="../script/script.js"></script>
  </body>
</html>
